/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	font-family: Lato, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Verdana, Tahoma, sans-serif;
	line-height: 1.5;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
    line-height: 1;
    display: flex;
    min-height: 100vh;
    flex-direction: row;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

h1 {
	font-size: 32px;
	font-weight: 700;
	padding-bottom: 20px;
}

.navigation {
	flex: 1;
	padding: 10px;
	background: #333333;
	color: #cccccc;
}

.content {
	flex: 5;
	margin: 20px 10px 20px 40px;
	color: #333333;
}

nav summary {
	font-variant: small-caps;
	padding: 10px 0;
	cursor: pointer;
	font-size: 18px;
	list-style: none;
	position: relative;
	outline: none;
}

nav summary::after {
	content: "";
	position: absolute;
	display: inline-block;
	width: 10px;
	height: 10px;
	top: 20px;
	right: 5px;
	border-top: 2px solid #ccc;
	border-right: 2px solid #ccc;
	transform: rotate(-45deg);
	transform-origin: center;
	transition: .2s linear;
}

nav details[open] summary::after {
	transform: rotate(134deg);
}

nav details summary::-webkit-details-marker {
  display: none;
}

nav details[open] summary ~ * {
	animation: sweep .5s ease-in-out;
}

@keyframes sweep {
	0% 		{ opacity: 0; margin-left: -10px; }
	100% 	{ opacity: 1; margin-left: 0px; }
}

.link {
	padding: 3px;
	display: block;
	text-decoration: none;
	color: #cccccc;
}

.selected .link {
	color: white;
}

.horizontal-list {
	display: flex;
	padding: 20px 0;
	border-top: 1px solid #cccccc;
	border-left: none;
	border-right: none;
}
.horizontal-list:last-of-type {
	border-bottom: 1px solid #cccccc;
}

.horizontal-list>dd, .horizontal-list>dt {
	flex: 1;
	margin-right: 5px;
}

.horizontal-list>dd ~ dl {
	flex: 5;
}

.horizontal-list>dl {
	flex: 6;
}

.horizontal-list .type {
	font-family: "SFMono-Regular", "Consolas", "Liberation Mono", "Menlo", monospace;
	font-size: .9em;
}

.horizontal-list a.type {
	text-decoration: none;
	color: #00a4db;
}

h3 {
	font-size: 18px;
	font-variant: all-small-caps;
	margin: 30px 0 20px 0;
	font-weight: 600;
}

p code {
	padding: .2em .4em;
    margin: 0;
    font-size: 85%;
    background-color: rgba(27, 31, 35, 0.05);
    border-radius: 6px;
}